


<form action="enviar-respuesta">
  <div> 
    <h1>Thriflora</h1>  
    <label for="email">email </label>
    <input type ="text" placeholder="escribe tu mail" required>
  </div>
        
        
  <div>
        <label for="menu">Selencciona un pais </label>
        <select name="menu">
          <option value="0"></option>
          <option value="1">España</option>
          <option value="2">Francia</option>
          <option value="3">Italia</option>
        </select>
  </div>

  <div>
      <label for="recibir email">Quiero recibir un email cuando la tienda esté disponible </label>
      <input type="checkbox" required>
  </div>

  <div>
    <button type ="submit">Quiero recibir un email cuando la tienda esté disponible</button>
  </div>


</form>